// FONT-SIZES
$fsExtraSmall: 1rem;
$fsSmall: 2rem;
$fsRegular: 3rem;
$fsMedium: 5rem;
$fsLarge: 7rem;
$fsExtraLarge: 8rem;

// FONT-WEIGHT
$light: 300;
$regular: 400;
$semiBold: 600;
$bold: 700;
$extraBold: 900;
