@mixin flexColCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@mixin flexRowCenter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

@mixin marginLeftRight {
  margin-left: $marg5;
  margin-right: $marg5;
}

@mixin paddingLeftRight {
  padding-left: $marg5;
  padding-right: $marg5;
}

@mixin paddingTopBottom {
  padding-top: $marg5;
  padding-bottom: $marg5;
}
