@import "resets", "mixins", "colors", "fonts", "buttons", "sizes", "animations";

body {
  font-family: "Poppins", sans-serif;
}

// HERO-SECTION START
.hero-section {
  height: 100vh;
  background-color: $color2;
  color: $secondaryFontC;
}

// NAVBAR
.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  animation-name: nav-fade-in;
  animation-duration: $h1-fade-in;
  animation-timing-function: ease-in-out;

  @keyframes nav-fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .logo-div {
    padding: $pad1;
    @keyframes logo-animation {
      0% {
        scale: (0);
      }
      100% {
        scale: (1);
      }
    }

    .material-icons {
      font-size: 3rem;

      @media (max-width: 767.98px) {
        font-size: 2rem;
      }
    }
    @media (max-width: 575.98px) {
      display: none;
    }
  }

  .nav-ul {
    @include flexRowCenter;
    list-style: none;

    li {
      position: relative;
      font-size: $fsExtraSmall;
      font-weight: $bold;
      padding: $pad1;
      cursor: pointer;
      margin-right: $marg5;
      transition: 0.2s ease-in-out;
      &:hover {
        background-color: $color3;
      }

      a {
        @include flexRowCenter;
        text-align: center;
        text-decoration: none;
        color: #fff;
        height: 5rem;
      }

      @media (max-width: 991.98px) {
        margin-right: 1em;
      }
      @media (max-width: 767.98px) {
        margin-right: 0;
      }
      // @media (max-width: 575.98px) {
      //   padding: 10px;
      // }
    }
    @media (max-width: 1199.98px) {
      @include flexRowCenter;
      list-style: none;
    }
    @media (max-width: 991.98px) {
      display: none;
    }
  }
  .hamburger {
    display: none;
    // cursor: pointer;
    transition: ease 0.2s;
    &:hover {
      transform: scaleY(1.3);
    }

    @media (max-width: 991.98px) {
      @include flexColCenter;
      font-size: 2rem;
      border: none;
      background-color: transparent;
      padding: $pad1;
      color: #fff;
    }
    @media (max-width: 575.98px) {
      @include flexColCenter;
      font-size: 2rem;
      border: none;
      background-color: transparent;
      padding: 10px;
      color: #fff;
    }
  }
}

// HERO
.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 90%;

  .hero-div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: $marg5;
    animation-name: hero-fade-in;
    animation-duration: $h1-fade-in;
    animation-timing-function: ease-in-out;
    @keyframes hero-fade-in {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }

    h1 {
      font-weight: $bold;
      font-size: $fsExtraLarge;
      box-shadow: inset 0 0 0 0 #fff;
      transition: ease-in-out 0.3s;

      animation-name: h1-load;
      animation-duration: $h1-fade-in;
      animation-timing-function: ease-in-out;

      @keyframes h1-load {
        0% {
          transform: translateX(-100%);
        }

        100% {
          transform: translateX(0);
        }
      }

      @media (max-width: 1199.98px) {
        font-size: $fsLarge;
      }
      @media (max-width: 991.98px) {
        font-size: $fsMedium;
      }
      @media (max-width: 767.98px) {
        font-size: $fsRegular;
      }
      @media (max-width: 575.98px) {
        font-size: $fsRegular;
        align-items: center;
      }
    }

    p {
      font-size: $fsSmall;
      font-weight: $regular;
      margin-top: $marg1;

      @media (max-width: 991.98px) {
        font-size: $fsSmall;
      }

      @media (max-width: 575.98px) {
        font-size: $fsSmall;
        font-weight: $light;
        align-items: center;
      }
    }

    .button-div {
      @include flexColCenter;
      border-radius: 25px;
      background-color: $color3;
      height: $buttonHeight;
      width: $buttonWidth;
      font-size: $fsExtraSmall;
      font-weight: $bold;
      margin-top: $marg2;
      border: none;
      // cursor: pointer;
      transition: 0.4s ease;
      &:hover {
        transform: scale(1.1);
        background-color: $color1;
        color: $primaryFontC;
        a {
          color: $primaryFontC;
        }
      }
      a {
        @include flexColCenter;
        width: inherit;
        height: inherit;
        text-decoration: none;
        color: $secondaryFontC;
      }
      @media (max-width: 575.98px) {
        margin-top: 0;
        margin-bottom: $marg3;
        width: 10rem;
      }
    }

    @media (max-width: 767.98px) {
      @include flexColCenter;
      text-align: center;
      font-size: $fsSmall;
    }
    @media (max-width: 575.98px) {
      @include flexColCenter;
      justify-content: space-around;
      text-align: center;
      margin-left: $marg3;
    }
  }
  // SOCIALS
  .firstPage-socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: $pad1;
    animation-name: side-socials-fade-in;
    animation-duration: $h1-fade-in;
    animation-timing-function: ease-in-out;
    @keyframes side-socials-fade-in {
      0% {
        transform: translateY(100%);
      }
      100% {
        transform: translateY(0);
      }
    }

    svg {
      width: 4.5rem;
      margin-top: $marg1;
      margin-bottom: $marg1;
      // cursor: pointer;
      transition: 0.2s ease;
      fill: #fff;
      &:hover {
        transform: scale(1.2);
        fill: $color3;
      }
      @media (max-width: 991.98px) {
        width: 4rem;
      }
      @media (max-width: 767.98px) {
        width: 3rem;
      }
      @media (max-width: 575.98px) {
        width: 2rem;
      }
    }
  }
}
// HERO-SECTION STARTS END

// ABOUT-ME SECTION START
.aboutMe-section {
  @include paddingLeftRight;
  @include paddingTopBottom;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;
  height: auto;
  background-color: #fff;

  .aboutMe-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    h2 {
      font-size: $fsMedium;
      font-weight: $bold;
      @media (max-width: 575.98px) {
        font-size: $fsRegular;
        font-weight: $bold;
        margin: $marg2;
      }
    }
    p {
      font-size: $fsSmall;
      font-weight: $regular;
      @media (max-width: 575.98px) {
        font-size: $fsSmall;
        font-weight: $regular;
        margin: $marg2;
      }
    }
    @media (max-width: 991.98px) {
      text-align: center;
    }
    @media (max-width: 400px) {
      text-align: center;
      font-size: $fsExtraSmall;
    }
  }

  .photo-div {
    @include flexColCenter;
    img {
      height: 25rem;
      border-radius: 100%;
      border: none;
      @media (max-width: 991.98px) {
        margin-top: $marg2;
      }
      @media (max-width: 575.98px) {
        height: 15rem;
      }
    }
  }
  @media (max-width: 991.98px) {
    @include flexColCenter;
  }

  @media (max-width: 575.98px) {
    @include flexColCenter;
    padding-top: $pad5;
    padding-bottom: $pad5;
    padding-left: 0;
    padding-right: 0;
  }
}
// ABOUT-ME SECTION END

// PROJECT SECTION START
.projects-section {
  // @include paddingLeftRight;
  @include paddingTopBottom;
  background-color: $color1;

  .projects-h2 {
    @include flexColCenter;
    text-align: center;
    font-size: $fsMedium;
    font-weight: $bold;
    margin-bottom: $marg3;
    @media (max-width: 575.98px) {
      font-size: $fsRegular;
    }
  }
}

.projects-container {
  display: flex;
  // align-items: center;
  justify-content: space-around;
  width: 100%;

  .project-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    box-shadow: 5px 5px 20px rgb(88, 88, 88);
    width: 23rem;
    min-height: 50rem;
    margin-top: $marg3;
    img {
      width: inherit;
      height: 500px;
      object-fit: cover;
      border: 15px solid #fff;
      border-radius: 20px;
    }
    h3 {
      text-align: center;
      padding: $pad1;
    }
    p {
      text-align: center;
      padding: $pad1;
    }
    .view-here-p {
      transition: 0.3s ease-in-out;
    }
    hr {
      width: 50%;
    }
    .view-here-a-class {
      text-decoration: none;
      color: $color2;
    }
    .view-here-p:hover {
      transform: scale(1.3);
    }
    transition: ease-in-out 0.3s;
    &:hover {
      transform: translateY(-5%);
    }
    @media (max-width: 1600px) {
      width: 20rem;
    }

    @media (max-width: 575.98px) {
      width: 18rem;
    }
    @media (max-width: 300px) {
      width: 15rem;
    }
  }
  @media (max-width: 1600px) {
    display: flex;
    flex-wrap: wrap;
  }
}

// PROJECT SECTION END

// FOOTER SECTION START
.footerSection {
  @include paddingTopBottom;
  @include flexColCenter;
  position: relative;
  background-color: $color2;
  height: auto;
  color: $secondaryFontC;

  .contact-div {
    @include flexColCenter;

    h3 {
      font-size: $fsMedium;
      font-weight: $bold;
      text-align: center;
      cursor: default;
      transition: ease-in 0.3s;

      &:hover {
        color: $color1;
      }
      @media (max-width: 575.98px) {
        font-size: $fsRegular;
      }
      @media (max-width: 400px) {
        font-size: $fsSmall;
      }
    }

    p {
      font-size: $fsSmall;
      font-weight: $bold;
      @media (max-width: 575.98px) {
        font-size: $fsExtraSmall;
      }
    }

    .iconsDiv {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      padding: $pad2;
      width: 100%;
      a {
        margin: $marg1;
        color: #fff;
        text-decoration: none;
        i {
          font-size: $fsMedium;
          // cursor: pointer;
          @media (max-width: 400px) {
            font-size: $fsRegular;
          }
        }
        transition: ease 0.2s;
        &:hover {
          transform: scale(1.1);
          color: $color1;
        }
      }
      @media (max-width: 991.98px) {
        display: flex;
        flex-wrap: wrap;
      }
    }
  }
  .scrollUp {
    position: absolute;
    background-color: $color2;
    bottom: 0;
    left: 0;
    padding: $pad1;
    i {
      font-size: $fsSmall;
      color: #fff;
      // cursor: pointer;
      transition: ease-in-out 0.2s;
      &:hover {
        transform: scaleY(1.5);
      }
    }
  }
}

// WAVES
svg {
  display: flex;
  margin: 0;
  padding: 0;
}

// MIN-WIDTH
// @media (min-width: 576px) { ... }
// @media (min-width: 768px) { ... }
// @media (min-width: 992px) { ... }
// @media (min-width: 1200px) { ... }

// MAX-WIDTH
// @media (max-width: 575.98px) { ... }
// @media (max-width: 767.98px) { ... }
// @media (max-width: 991.98px) { ... }
// @media (max-width: 1199.98px) { ... }
