@import "resets", "mixins", "colors", "fonts", "buttons", "sizes";

body {
  font-family: "Poppins", sans-serif;
}

// HERO-SECTION
.hero-section {
  height: 100vh;
  background-color: $color2;
  color: $secondaryFontC;
}

.nav-bar {
  display: flex;
  justify-content: space-between;

  .logo-div {
    padding: $pad1;
  }

  .nav-ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    li {
      font-size: $fsExtraSmall;
      font-weight: $bold;
      padding: $pad1;
      margin-right: $marg5;
    }
  }
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-left: $marg5;
  height: 100%;
  h1 {
    font-size: $fsLarge;
    font-weight: $bold;
  }
  p {
    font-size: $fsSmall;
    font-weight: $regular;
    margin-top: $marg1;
    margin-bottom: $marg1;
  }
  .button-div {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    background-color: $color5;
    height: $buttonHeight;
    width: $buttonWidth;
    font-size: $fsExtraSmall;
    font-weight: $bold;
    border: none;
    cursor: pointer;
    &:hover {
      background-color: $color1;
      color: $primaryFontC;
    }
  }
}

// PROJECTS-SECTION
.projects-section {
  height: 100vh;
  background-color: $color3;
}
