@import "_resets", "colors", "fonts";

section {
  height: 500px;
  background-color: green;
  border: 1px solid black;
}

.hero {
  height: 100vh;
  background-color: red;
}

footer {
  height: 500px;
  background-color: black;
}
