* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}

.hero-section {
  height: 100vh;
  background-color: #430ba3;
  color: #fff;
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  animation-name: nav-fade-in;
  animation-duration: 1500ms;
  animation-timing-function: ease-in-out;
}
@keyframes nav-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.nav-bar .logo-div {
  padding: 1em;
}
@keyframes logo-animation {
  0% {
    scale: 0;
  }
  100% {
    scale: 1;
  }
}
.nav-bar .logo-div .material-icons {
  font-size: 3rem;
}
@media (max-width: 767.98px) {
  .nav-bar .logo-div .material-icons {
    font-size: 2rem;
  }
}
@media (max-width: 575.98px) {
  .nav-bar .logo-div {
    display: none;
  }
}
.nav-bar .nav-ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  list-style: none;
}
.nav-bar .nav-ul li {
  position: relative;
  font-size: 1rem;
  font-weight: 700;
  padding: 1em;
  cursor: pointer;
  margin-right: 10rem;
  transition: 0.2s ease-in-out;
}
.nav-bar .nav-ul li:hover {
  background-color: #35b8f0;
}
.nav-bar .nav-ul li a {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  color: #fff;
  height: 5rem;
}
@media (max-width: 991.98px) {
  .nav-bar .nav-ul li {
    margin-right: 1em;
  }
}
@media (max-width: 767.98px) {
  .nav-bar .nav-ul li {
    margin-right: 0;
  }
}
@media (max-width: 1199.98px) {
  .nav-bar .nav-ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    list-style: none;
  }
}
@media (max-width: 991.98px) {
  .nav-bar .nav-ul {
    display: none;
  }
}
.nav-bar .hamburger {
  display: none;
  transition: ease 0.2s;
}
.nav-bar .hamburger:hover {
  transform: scaleY(1.3);
}
@media (max-width: 991.98px) {
  .nav-bar .hamburger {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    border: none;
    background-color: transparent;
    padding: 1em;
    color: #fff;
  }
}
@media (max-width: 575.98px) {
  .nav-bar .hamburger {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    border: none;
    background-color: transparent;
    padding: 10px;
    color: #fff;
  }
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 90%;
}
.flex-container .hero-div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-left: 10rem;
  animation-name: hero-fade-in;
  animation-duration: 1500ms;
  animation-timing-function: ease-in-out;
}
@keyframes hero-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.flex-container .hero-div h1 {
  font-weight: 700;
  font-size: 8rem;
  box-shadow: inset 0 0 0 0 #fff;
  transition: ease-in-out 0.3s;
  animation-name: h1-load;
  animation-duration: 1500ms;
  animation-timing-function: ease-in-out;
}
@keyframes h1-load {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
@media (max-width: 1199.98px) {
  .flex-container .hero-div h1 {
    font-size: 7rem;
  }
}
@media (max-width: 991.98px) {
  .flex-container .hero-div h1 {
    font-size: 5rem;
  }
}
@media (max-width: 767.98px) {
  .flex-container .hero-div h1 {
    font-size: 3rem;
  }
}
@media (max-width: 575.98px) {
  .flex-container .hero-div h1 {
    font-size: 3rem;
    align-items: center;
  }
}
.flex-container .hero-div p {
  font-size: 2rem;
  font-weight: 400;
  margin-top: 1rem;
}
@media (max-width: 991.98px) {
  .flex-container .hero-div p {
    font-size: 2rem;
  }
}
@media (max-width: 575.98px) {
  .flex-container .hero-div p {
    font-size: 2rem;
    font-weight: 300;
    align-items: center;
  }
}
.flex-container .hero-div .button-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  background-color: #35b8f0;
  height: 3.5rem;
  width: 14rem;
  font-size: 1rem;
  font-weight: 700;
  margin-top: 2rem;
  border: none;
  transition: 0.4s ease;
}
.flex-container .hero-div .button-div:hover {
  transform: scale(1.1);
  background-color: #f0be29;
  color: #000;
}
.flex-container .hero-div .button-div:hover a {
  color: #000;
}
.flex-container .hero-div .button-div a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: inherit;
  height: inherit;
  text-decoration: none;
  color: #fff;
}
@media (max-width: 575.98px) {
  .flex-container .hero-div .button-div {
    margin-top: 0;
    margin-bottom: 3rem;
    width: 10rem;
  }
}
@media (max-width: 767.98px) {
  .flex-container .hero-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 2rem;
  }
}
@media (max-width: 575.98px) {
  .flex-container .hero-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    text-align: center;
    margin-left: 3rem;
  }
}
.flex-container .firstPage-socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1em;
  animation-name: side-socials-fade-in;
  animation-duration: 1500ms;
  animation-timing-function: ease-in-out;
}
@keyframes side-socials-fade-in {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}
.flex-container .firstPage-socials svg {
  width: 4.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  transition: 0.2s ease;
  fill: #fff;
}
.flex-container .firstPage-socials svg:hover {
  transform: scale(1.2);
  fill: #35b8f0;
}
@media (max-width: 991.98px) {
  .flex-container .firstPage-socials svg {
    width: 4rem;
  }
}
@media (max-width: 767.98px) {
  .flex-container .firstPage-socials svg {
    width: 3rem;
  }
}
@media (max-width: 575.98px) {
  .flex-container .firstPage-socials svg {
    width: 2rem;
  }
}

.aboutMe-section {
  padding-left: 10rem;
  padding-right: 10rem;
  padding-top: 10rem;
  padding-bottom: 10rem;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;
  height: auto;
  background-color: #fff;
}
.aboutMe-section .aboutMe-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.aboutMe-section .aboutMe-container h2 {
  font-size: 5rem;
  font-weight: 700;
}
@media (max-width: 575.98px) {
  .aboutMe-section .aboutMe-container h2 {
    font-size: 3rem;
    font-weight: 700;
    margin: 2rem;
  }
}
.aboutMe-section .aboutMe-container p {
  font-size: 2rem;
  font-weight: 400;
}
@media (max-width: 575.98px) {
  .aboutMe-section .aboutMe-container p {
    font-size: 2rem;
    font-weight: 400;
    margin: 2rem;
  }
}
@media (max-width: 991.98px) {
  .aboutMe-section .aboutMe-container {
    text-align: center;
  }
}
@media (max-width: 400px) {
  .aboutMe-section .aboutMe-container {
    text-align: center;
    font-size: 1rem;
  }
}
.aboutMe-section .photo-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.aboutMe-section .photo-div img {
  height: 25rem;
  border-radius: 100%;
  border: none;
}
@media (max-width: 991.98px) {
  .aboutMe-section .photo-div img {
    margin-top: 2rem;
  }
}
@media (max-width: 575.98px) {
  .aboutMe-section .photo-div img {
    height: 15rem;
  }
}
@media (max-width: 991.98px) {
  .aboutMe-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 575.98px) {
  .aboutMe-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 5em;
    padding-bottom: 5em;
    padding-left: 0;
    padding-right: 0;
  }
}

.projects-section {
  padding-top: 10rem;
  padding-bottom: 10rem;
  background-color: #f0be29;
}
.projects-section .projects-h2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 5rem;
  font-weight: 700;
  margin-bottom: 3rem;
}
@media (max-width: 575.98px) {
  .projects-section .projects-h2 {
    font-size: 3rem;
  }
}

.projects-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.projects-container .project-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  box-shadow: 5px 5px 20px #585858;
  width: 23rem;
  min-height: 50rem;
  margin-top: 3rem;
  transition: ease-in-out 0.3s;
}
.projects-container .project-div img {
  width: inherit;
  height: 500px;
  object-fit: cover;
  border: 15px solid #fff;
  border-radius: 20px;
}
.projects-container .project-div h3 {
  text-align: center;
  padding: 1em;
}
.projects-container .project-div p {
  text-align: center;
  padding: 1em;
}
.projects-container .project-div .view-here-p {
  transition: 0.3s ease-in-out;
}
.projects-container .project-div hr {
  width: 50%;
}
.projects-container .project-div .view-here-a-class {
  text-decoration: none;
  color: #430ba3;
}
.projects-container .project-div .view-here-p:hover {
  transform: scale(1.3);
}
.projects-container .project-div:hover {
  transform: translateY(-5%);
}
@media (max-width: 1600px) {
  .projects-container .project-div {
    width: 20rem;
  }
}
@media (max-width: 575.98px) {
  .projects-container .project-div {
    width: 18rem;
  }
}
@media (max-width: 300px) {
  .projects-container .project-div {
    width: 15rem;
  }
}
@media (max-width: 1600px) {
  .projects-container {
    display: flex;
    flex-wrap: wrap;
  }
}

.footerSection {
  padding-top: 10rem;
  padding-bottom: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #430ba3;
  height: auto;
  color: #fff;
}
.footerSection .contact-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footerSection .contact-div h3 {
  font-size: 5rem;
  font-weight: 700;
  text-align: center;
  cursor: default;
  transition: ease-in 0.3s;
}
.footerSection .contact-div h3:hover {
  color: #f0be29;
}
@media (max-width: 575.98px) {
  .footerSection .contact-div h3 {
    font-size: 3rem;
  }
}
@media (max-width: 400px) {
  .footerSection .contact-div h3 {
    font-size: 2rem;
  }
}
.footerSection .contact-div p {
  font-size: 2rem;
  font-weight: 700;
}
@media (max-width: 575.98px) {
  .footerSection .contact-div p {
    font-size: 1rem;
  }
}
.footerSection .contact-div .iconsDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 2em;
  width: 100%;
}
.footerSection .contact-div .iconsDiv a {
  margin: 1rem;
  color: #fff;
  text-decoration: none;
  transition: ease 0.2s;
}
.footerSection .contact-div .iconsDiv a i {
  font-size: 5rem;
}
@media (max-width: 400px) {
  .footerSection .contact-div .iconsDiv a i {
    font-size: 3rem;
  }
}
.footerSection .contact-div .iconsDiv a:hover {
  transform: scale(1.1);
  color: #f0be29;
}
@media (max-width: 991.98px) {
  .footerSection .contact-div .iconsDiv {
    display: flex;
    flex-wrap: wrap;
  }
}
.footerSection .scrollUp {
  position: absolute;
  background-color: #430ba3;
  bottom: 0;
  left: 0;
  padding: 1em;
}
.footerSection .scrollUp i {
  font-size: 2rem;
  color: #fff;
  transition: ease-in-out 0.2s;
}
.footerSection .scrollUp i:hover {
  transform: scaleY(1.5);
}

svg {
  display: flex;
  margin: 0;
  padding: 0;
}

/*# sourceMappingURL=main.css.map */
